
.env
.env.local
.env.production
.env.*.local
/src/__pycache__/



Include/
Lib/
Scripts/
pyvenv.cfg

bin/
lib/
lib64/
include/
share/

venv/
env/
.venv/
.env_venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

airflow.cfg
airflow.db
airflow-webserver.pid
logs/
standalone_admin_password.txt

.idea/
.vscode/
*.DS_Store
Thumbs.db